*,
*::after,
*.before {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
.app-container {
  display: flex;
  margin: 1rem;
}
.calc-container {
  padding: 1rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 1rem;
}
.header-container {
  border-bottom: 1px solid #c1c1c1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem 0.5rem 0.5rem;
}
/********** main content *****/
.main-container {
  margin: 0.5rem 0;
}
.input-group {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
}
.input-group p {
  margin: 0 5px;
}
.input-group input {
  border: 1px solid #c1c1c1;
  padding: 0.5rem;
  border-radius: 3px;
}
.result-container {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}
.result-container p {
  font-size: 1.3rem;
  font-weight: bold;
  color: brown;
}
.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.btn {
  border: 1px solid #c1c1c1;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.btn-primary {
  background-color: green;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  transition: 0.5s all;
}
.btn-primary:hover {
  background-color: rgb(57, 204, 57);
}
.btn-secondary {
  background-color: rgb(121, 124, 113);
  color: white;
  font-weight: bolder;
  cursor: pointer;
  transition: 0.5s all;
}
.btn-secondary:hover {
  background-color: rgb(68, 68, 67);
}
/*************** footer ****************/
.footer-container {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
}
